.login-header .header__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: var(--g-text-font-size-3);
}

.login-header .header__menu button{
    border-style: none;
    min-height: 40px;
    padding: 8px 12px;
    font-weight: 500;
    font-size: var(--g-text-font-size-3);
    font: inherit;
    border-radius: 24px;
    box-sizing: border-box; 
    
}
.login-header .header__menu .menu__button{
    background: var(--g-colorRed100);
    color:white;
}