.login-header{
    display: grid;
    grid-template-columns: 73% 27%;
    grid-template-rows: 80px;
    align-items: center;
}

.login-content{
    display: grid;
    grid-template-columns: 1750px;
    justify-content: center;
    row-gap: calc(85px * 4.5);
}

.login-content .content__title{
    display: inherit;
    justify-content: center;
    row-gap: 20px;
}

.login-content .login-colash{
    display: inherit;
    grid-template-columns: repeat(6, 230px) 250px;
    column-gap: 20px;
}

.login-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
    height: 43px;
}

.login-footer .footer__nav{
    min-width: 550px;
    display: flex;
    justify-content: space-around;
}
.login-footer a{
    text-decoration: none;
    font-size: 11px;
    color: black;
}
