.login-content .title__first, .title__second{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.login-content .title__second {
    position: relative;
    height: 80px;
    width: 700px;
    display: flex;
    justify-content: center;
}
.login-content .title__second p{
    position: absolute;
    /*transform: translateY(20px);
    opacity: 0;*/
}
.login-content .title__second p.effect{
    transform: translateY(0);
    opacity: 1;
}
.login-content .title__second p:nth-child(1){color: rgb(194, 139, 0);}
.login-content .title__second p:nth-child(2){color: rgb(97, 140, 123);}
.login-content .title__second p:nth-child(3){color: rgb(0, 118, 211);}
.login-content .title__second p:nth-child(4){color: rgb(64, 122, 87);}

.login-content .title__transitions{
    display: flex;
    width: 100px;
    margin: 0 auto;
    justify-content: space-around;
}

.login-content .title__transitions button{
    height: 10px;
    border-radius: 50px;
    padding: 5px;
    border-style: none;
    background-color: rgb(225, 225, 225);
    outline: none;
}